.availability-section {
    padding: 20px;
    margin-top: 100px; /* Adjust this based on your header height */
  }
  
  .availability-container {
    margin-top: 20px;
  }
  
  .no-availability-warning {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .add-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }
  
  .edit-btn,
  .delete-btn {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
  }
  